html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #f4f4f4;
    font-family: 'Helvetica Neue Light', 'Segoe UI Light', 'Arial';
}

.header {
}

.site-logo-container {
    background-color: #ec4a42;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

.site-logo-image {
    border: 0;
    max-height: 80%;
    margin-top: 10px;
}

.navigation-container {
    background-color: #6d6d71;
    color: #FFF;
    height: 80px;
    font-size: 12pt;
}

.header-buffer-top {
    width: 0;
    height: 0;
    border-right: 30px solid transparent;
    border-bottom: 80px solid #57585a;
    margin-left: -15px;
}

.navigation-bottom {
    height: 20px;
}

.header-buffer-bottom {
    width: 0;
    height: 0;
    border-top: 20px solid #57585a;
    border-right: 30px solid transparent;
    margin-left: -15px;
}

.nav {
    margin-left: 50px;
}

/* Menu area */
.menu-container {
    background-color: #FFF;
}

/* Footer */
.footer {
}

.footer-content-top {
    height: 30px;
    margin-left: -15px;
    margin-right: -15px;
}

.footer-buffer-top {
    float: right;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-bottom: 30px solid #7f7f7f;
}

.footer-content-container {
    background-color: #9c9c9c;
    height: 90px;
    margin-left: -15px;
    margin-right: -15px;
}

.footer-buffer-bottom {
    float: right;
    width: 0;
    height: 0;
    border-top: 90px solid #7f7f7f;
    border-left: 50px solid transparent;
}

.footer-badge-container {
    background-color: #bababa;
    color: #f7f7f7;
    height: 120px;
    vertical-align: middle;
}

.footer-badge {
    font-family: 'Arial Narrow';
    font-weight: bold;
    font-size: 28pt;
    margin-top: 30px;
    margin-left: 10px;
}